@{
    ViewData["Title"] = "Home Page";
}

<div>Display device reading list here</div>

<div>Device reading upload form</div>

<div>Email address for processed file</div>

<div>Display summary of results</div>